<!-- Navbar -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container page-scroll">
    <a class="main-logo navbar-left" href="tomato#home">Launcht</a>
    <p class="navbar-text navbar-right">
        <span class="hidden-xs">
          Already invited? <a class="btn btn-default" href="tomato#">Sign in</a>
        </span>
      <a href="tomato#" class="btn btn-default btn-lg visible-xs">
        <i class="fa fa-sign-in"></i>
      </a>
    </p>
  </div>
</div> <!-- End navbar -->